# dependencies
/node_modules

# production build
/dist

# local env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp

# Netlify
.netlify/

# Optional: macOS/Windows junk
*.log
